body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding:10px;
    height:560px;
    width: 400px;
    margin-bottom: 100px;
    border:2px black solid;
    border-radius: 5px;  
}


button{
    display: flex;
    background-color: rgba(33, 47, 247, 0.589);
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 27px 15px;
    margin-left: 3px;
    border-radius: 5px;
}


.display{
    overflow: hidden;
    display: flex;
    align-self: center;
    justify-content: end;
    width: 390px;
    font-size: 75px;
    height: 100px;
    border:black solid 1.2px;
    background-color: antiquewhite;
    margin-top: 15px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.row1, .row2, .row3, .row4, .row5{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3px;
}


.container .row1{
    margin-top: 3px;
}


.container .backspace{
    flex-grow: 1.4;
    background-color: rgba(255, 98, 98, 0.801);
    font-size: 20px;
}


.row1 .operation{
    flex-grow: 1.1;

}


.row5 .number{
    flex-grow:3.65 ;
}


.row5 .equal{
    flex-grow: 1.8;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}


.row5 .decimal{
    flex-grow: 0.8;
    font-size: 20px;
    background-color: rgba(255, 239, 91, 0.733)
}


.container .number{
    background-color: yellowgreen;
    font-size: 20px;
}


.row1 .clear{
    background-color: rgba(255, 98, 98, 0.801);
    font-size: 20px;
    flex-grow: 0.7;
}


.container .operation{
    font-size: 20px;
}


.row4 .operation{
    flex-grow: 0.9;
}

body .signature{
    font-size: 30px;
    font-weight: bolder;
}